body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.task-tracker {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.input-container {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    position: relative;
}

#task-input {
    flex-grow: 1;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-task-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #050505;
    color: #fff;
    border: none;
    border-radius: 20%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-task-btn:hover {
    background-color: #5d5d5d;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.task-item.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.delete-btn {
    background: none;
    border: none;
    color: #d9534f;
    cursor: pointer;
}

.delete-btn:hover {
    color: #c9302c;
}
